.newspaper-title {
    margin-bottom: 20px;
}

.btn {
    margin-right: 10px;
}

.topic-info {
    margin-bottom: 10px;
}

.redactors-heading {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.redactor-list, .content-list {
    list-style-type: none;
    padding: 0;
}

.redactor-list li, .content-list li {
    margin-bottom: 10px;
}

.link-to-page {
    text-decoration: none;
    color: #fff;
}

.link-to-page:hover {
    text-decoration: none;
    color: #fff;
}

.link-to-page:visited {
    text-decoration: none;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.content {
    max-width: 1300px;
    margin: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 2.0;
    color: #333;
}

.content::first-letter {
    font-size: 150%;
    font-weight: bold;
    color: #4285f4;
}
