{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="jumbotron" style="background-color: beige">
        <h1 class="display-4">Welcome to the Newspaper Agency</h1>
        <p class="lead">We are pleased to present the following statistics:</p>
        <ul class="list-group">
            <li class="list-group-item"><strong>Newspapers:</strong> {{ num_newspapers }}</li>
            <li class="list-group-item"><strong>Redactors:</strong> {{ num_redactors }}</li>
            <li class="list-group-item"><strong>Topics:</strong> {{ num_topics }}</li>
        </ul>

        <p class="mt-3">You have visited this page
            {{ num_visits }} time{{ num_visits|pluralize }}.
        </p>
    </div>
{% endblock %}
