{% extends "base.html" %}

{% block content %}
    <h1 class="d-flex justify-content-between align-items-center">Redactor List

    <a href="{% url 'newspaper:redactor-create' %}" class="btn btn-primary link-to-page">Create</a>
    </h1>

    {% if redactor_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Years of experience</th>
        </tr>
      </thead>
      <tbody>
      {% for redactor in redactor_list %}
        <tr>
          <th scope="row">{{ redactor.id }}</th>
          <td><a href="{{ redactor.get_absolute_url }}">{{ redactor.username }} {% if user == redactor %} (Me){% endif %}</a></td>
          <td>{{ redactor.first_name }}</td>
          <td>{{ redactor.last_name }}</td>
          <td>{{ redactor.years_of_experience }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>There are no drivers in the service.</p>
    {% endif %}
{% endblock %}
